section{
    position: relative;
    padding: 60px;
    }
    section h2{
        font-size: 2em;
        margin-bottom: 10px;
    }
    section p{
        font-size: 1.1em;
    }
    #first{
        position: relative;
        padding: 15px 25px;
        margin-top: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .popup h2{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        width: 450px;
        height: 300px;
        box-shadow:0 25px 50px rgba(0,0,0,0.1),0 0 0 1000px rgba(255,255,255,0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
    .popup{
        visibility: hidden;
    }
    #close{
        position: relative;
        top: -200px;
        right: -730px;
        padding: 10px 20px;
        background: red;
        color: #fff;
        cursor: pointer;
        z-index: 100000;
    }
    .popup.active{
        visibility: visible;
    }
    
    #my-canvas{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
    }
    #my-canvas.active{
        visibility: visible;
    }